.body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #484848;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container_size_wide {
  max-width: 1510px;
}