.header {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid #D6D6D6;
  box-sizing: border-box;
}

.header__row {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.header__menu {
  margin-left: 172px;
}

.header__login {
  margin-left: auto;
}

@media screen and (max-width: 1399px) {
  .header__row {
    justify-content: space-between;
  }

  .header__menu {
    margin-left: 0;
  }

  .header__login {
    margin-left: 0;
  }
}

@media screen and (max-width: 991px) {
  .header__menu {
    display: none;
  }
}