.how-it-works {
  padding-top: 169px;
  padding-bottom: 51px;
  box-sizing: border-box;
}

.how-it-works__block {
  display: flex;
  justify-content: space-between;
}

.how-it-works__headings {
  max-width: 584px;
  margin-right: 20px;
  /* flex: 1 0 auto; */
}

.how-it-works__title {
  margin: 0;
  margin-bottom: -3px;

  font-weight: 600;
  font-size: 24px;
  line-height: 157%;
}

.how-it-works__subtitle {
  margin: 0;

  font-family: "Georgia";
  font-weight: bold;
  font-size: 50px;
  line-height: 157%;
  color: #01996D;
}

.how-it-works__text {
  max-width: 671px;
  margin-top: 58px;
}

.how-it-works__paragraph {
  margin: 0;

  font-weight: 500;
  line-height: 150%;
}

@media screen and (max-width: 1399px) {
  .how-it-works {
    padding-top: 80px;
    padding-bottom: 51px;
  }
}

@media screen and (max-width: 1099px) {
  .how-it-works__block {
    flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  .how-it-works {
    padding-top: 40px;
    padding-bottom:30px;
  }

  .how-it-works__headings {
    margin-right: 0;
  }

  .how-it-works__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 157%;
  }

  .how-it-works__subtitle {
    font-size: 40px;
    line-height: 157%;
  }

  .how-it-works__text {
    margin-top: 30px;
  }
}

@media screen and (max-width: 425px) {
  .how-it-works__subtitle {
    font-size: 30px;
    line-height: 40px;
  }
}