@import "../fonts/lato/fonts.css";
@import "../fonts/georgia/fonts.css";

.body {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 20px;
}

.container {
  width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo_place_header {

}

.header {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
  border: 1px solid #D6D6D6;
}

.header__row {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.menu {
  margin-left: 172px;
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #292929;
}

.menu__item:not(:last-child) {
  margin-right: 72px;
}

.menu__link {
  text-decoration: none;
  color: #292929;

  transition: color .3s ease-in-out;
}

.menu__link:hover {
  cursor: pointer;
  color: #01996D;
}

.header__login {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__login-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000;

  margin-right: 35px;

  transition: color .3s ease-in-out;
}

.header__login-link:last-child {
  margin-right: 0;
}

.header__login-link:hover {
  cursor: pointer;
  color: #01996D;
}

.button {
  padding: 13px 50px;
  background-color: #01996D;
  border: none;
  border-radius: 4px;

  color: #fff;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;

  transition: opacity .3s ease;
}

.button:hover {
  cursor: pointer;
  color: #fff;
  opacity: .8;
}